/* 1. attributes */
/* 2. CSS-Selectors */
h3 {
    color: blue;
}
h4 {
    color: pink;
}
h4.atousa {
    color: blue;
}
.merhdad {
    /* RGB */
    color: rgb(1, 1, 99);
}
#sepideh { 
    /* Hex */
    color: #009029; 
}
.mahan {
    font-size: 40px;;
}
.atousa {
    color: orange;
}
.sarvenaz {
    color: green;
}

/* !important is banned */

.btn {
    color: red;
    font-size: 20px;
    background-color: aqua;
    border: 1px solid black;
}
.btn.btn-submit {
    color: green;
}
.btn.btn-close {
    color: orange;
}
.group {
    background-color: yellow;
}

small {
    font-size: 40px;
}

/* PARENT .CHILD */
.group .btn {
    color: rgb(174, 36, 239);
}
.group small {
    color: green;
    font-size: 11px;
}

/* ID should be unique */

/* 
1. CLASS
2. TAG
3. ID 
*/