* {
    box-sizing: border-box;
}
.notification {

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.notification {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 1;
}

.close-button {
    float: right;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    /* MOBILE */
    background-color: red;
}

.card img {
    width: 100%;
}

.card .card-content {
    padding: 20px;
}

.card .card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card .card-content p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.card .button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
ul li h4 {
    padding: 10px;
    background-color: rgb(150, 150, 255);
    margin: 5px;
    width: calc(100% - 50px);
}
ul li:last-child {
    border-bottom: 4px solid rgb(4, 4, 103);
}

ul li p {
    opacity: 0;
    transition-duration: 500ms;
    height: 0px;
}
ul li:hover p {
    opacity: 1;
    height: 100px;
}
.checkboxField::before {
    border: 2px solid;
    border-radius: 0;
    background-color: white;
    border-color: transparent;
    box-sizing: border-box;
    color: #3acfb6;
    content: close-quote;
    display: inline-block;
    height: 12px;
    outline: 2px solid #3acfb6;
    transition-duration: .5s;
    transition-property: background-color, border-color;
    width: 12px;
}

.checkboxField:checked:before {
    background-color: #cf3a58;
    border-color: white;
}

/* TABLET */
@media screen and (min-width: 480px) and (max-width: 960px) {
    .notification {
        width: 100%;
        bottom: 0px;
        top: auto;
    }
    .card {
        width: calc(100% - 50px);
        max-width: 100%;
        /* TABLET */
        background-color: green;
    }
}

/* DESKTOP */
@media screen and (min-width: 960px) {
    .notification {
        top: 500px;
        bottom: 300px;
    }
    .card {
        /* DESKTOP */
        background-color: black;
    }
}


/* MOBILE FIRST */