.center  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
#snakeBoard {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 10px;
}
.snakeBox {
    background-color: red;
    border: none;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
}
#snakeFood {
    background-color: yellow;
    border: none;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    display: none;
}
#snakeControls {
    padding-bottom: 20px;
}
.snakeControl--information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.btn {
    background-color: white;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100px;
}
.btn:hover {
    background-color: #000;
    color: #fff;
}
.btn:disabled {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
}
#snake {
    width: 100%;
    height: 100%;
    position: relative;
}