*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
