@font-face {
    font-family: NeueHaasGrotTextRound;
    src: url(./fonts/NeueHaasGrotTextRound-66MediumItalic-Web-48186f7d2eab425bbd54e2253457daff57d19ada727b1066d1d744b396cbb7b4.woff2);
    font-weight: 700;
}
@font-face {
    font-family: NeueHaasGrotTextRound;
    src: url(./fonts/NeueHaasGrotTextRound-75Bold-Web-f2ff2f34217e3fdab82c30ef689f5be3fb86a8e4218a1906a9399d0354a95d45.woff2);
    font-weight: 500;
}
@font-face {
    font-family: NeueHaasGrotTextRound;
    src: url(./fonts/NeueHaasGrotTextRound-65Medium-Web-741c8c70e5c90808119c701483ca7362baff5ae482c823718406bbb1e31d9143.woff2);
    font-weight: 400;
}
@font-face {
    font-family: NeueHaasGrotTextRound;
    src: url(./fonts/NeueHaasGrotTextRound-55Roman-Web-9e7322596eec47d8e79e2453d75a77fb58045ae944ec818e4fc1ba05559121a4.woff2);
    font-weight: 300;
}